.u-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.back-btn{
  position:absolute;
  left: 40px;
  top:40px;
  z-index: 100;
  user-select:none;
}
.close-btn{
  text-decoration: none;
  color: $c-black;
  background-color: white;
  user-select:none;
  padding: 8px;
}
