*.py[co]
*.sw[po]
.coverage
*.orig
.noseids
*~
#*
.#*
*.egg-info
*.sqlite3
notes.org
.DS_Store
.sass-cache
pip-log.txt
.cache/
.vagrant/
dist/
node_modules
node_modules/
npm-debug.log
tmp/
tags
secrets/
*.tfstate.backup
media/*.jpg
.DS_Store
.idea
*.sublime-*
assets.json
build/*
!.gitinclude
*.mp4
*.wav
*.aiff
*.aif
*.mp3
*.ogg
*.flv
*.zip
*.m4a

asset_preperation/sequence/**
asset_preperation/sequence
asset_preperation/sequence-out/*
www
www-assets
asset_preperation/_preconverted
_raw