.o-media {
	overflow: hidden;
}

.o-media__img,
.o-media__video {
	display: block;
	width: 100%;
}

.o-media__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
