// import variables
@import 'fonts';
@import 'colors';

body {
	overflow: hidden;
	font-family: $ff-base;
	font-size: $fs-base;
	line-height: 1.5;
	background: $c-grey-light;
	-webkit-font-smoothing: antialiased;
}

button {
	// scss-lint:disable all
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// scss-lint:enable all
}
