@import 'media-queries';
@import 'fonts';

.tour-home{
  display: none;
  &.is-visible{
    display: flex;
  }

  justify-content: center;
  align-content: center;
  background-color:white;

  img{
    width: 100%;
    height:auto;
    transform: scale(0.9);
  }

  @media #{$mq-portrait} {
    img{
      transform: rotate(90deg) scale(0.9);
    }
  }
}

.tour-home--menu{
  top:0;
  left:0;
}

.home-text{
  color:black;
}

.home--title{
  letter-spacing: 4px;
  font-size: $fs-title;
  text-align: center;
  white-space: nowrap;

  @media #{$mq-portrait} {
    white-space: normal;
    top:10%;
  }
}

.home-top{
  position: absolute;
  left:50%;
  top:24px;
  transform:translateX(-50%) translateY(0%);
  @media #{$mq-portrait} {
    top:10%;
  }
}

.home-right{
  position: absolute;
  right:20px;
  top:50%;
  transform:translateX(0%) translateY(-50%);
}

.home-bottom{
  position: absolute;
  left:50%;
  bottom:20px;
  transform:translateX(-50%) translateY(0%);
  @media #{$mq-portrait} {
    top:80%;
  }
}

.home-left{
  position: absolute;
  left:20px;
  top:50%;
  transform:translateX(0%) translateY(-50%);
}
