.credits-page{
  padding:40px;
  box-sizing:border-box;
}

.credits-wrapper{
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  p{
    margin: 0;
  }

  a{
    text-decoration: underline;
    color: black;
  }

  h3{
    margin:0;
  }
}
