.tour-map {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: none;
    background-color: white;
    &.show {
        display: block;
    }
}

/* .tour-map{
  display: none;
  &.is-visible{
    display: flex;
  }

  justify-content: center;
  align-items:center;
  align-content: center;
  background-color:#B2B2B2;


  img{
    width: 100%;
    height:auto;
  }
}

.tour-map-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: none;
    &.show {
        display: block;
    }
}


.tour-map-wrapper{
    position:relative;
    width: 100%;
    height: 100%;
}

.map-info{
  position: absolute;
  left:300px;
  top:200px;
}

.tour-map-user{
  position: absolute;
  background-color:blue;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
 */
