// colors
$c-white: rgb(255, 255, 255);
$c-black: rgb(0, 0, 0);

$c-grey-light: rgb(240, 240, 240);
$c-grey: rgb(200, 200, 200);
$c-grey-dark: rgb(85, 85, 85);
$c-grey-darkest: rgb(35, 35, 35);

$c-red: rgb(240, 60, 46);
