@import 'colors';
.tour-ui{
  z-index: 10;
  box-sizing:border-box;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  &.hide{
    //pointer-events: none;
  }
}
.tour-ui--buttons{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  &.hide{
  display: none;
  }
}
.tour-ui--btn {
  img{
    width:40px;
    height:40px;
  }
}

.tour-mapbutton{
  text-decoration: none;
  background-color: white;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:8px;
  padding-right:8px;
  text-decoration: underline;

    &.is-hidden{
      visibility: hidden;
    }
}


.instruc-wrapper{

  &.is-hidden{
    display: none;
  }

  p{
    margin:0;
    .map{
      background-color:white;
      padding:4px;
    }
  }

  hr{
    width: 50%;
  }

  h3{
    margin-top: 0px;
    margin-bottom: 4px;
  }
}

.tourstart-btn{
  background-color:white;
  padding:8px;
}

.ins-tech{
  color:$c-grey-darkest;
  &.detail{
    padding-left:8px;
  }
  &.bold{
    font-weight: bold;
  }
  &.small{
    font-size: 13px;
  }

  a{
    color: black;
  }
}
