.tour-ui{
  z-index: 10;
  box-sizing:border-box;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  &.hide{
    //pointer-events: none;
  }
}
.tour-ui--buttons{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.tour-ui--btn {
  img{
    width:40px;
    height:40px;
  }
}


.instruc-wrapper{
  &.is-hidden{
    display: none;
  }
}
