@import 'colors';
.tour-ui{
  z-index: 10;
  box-sizing:border-box;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  &.hide{
    //pointer-events: none;
  }
}
.tour-ui--buttons{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.tour-ui--btn {
  img{
    width:40px;
    height:40px;
  }
}

.tour-mapbutton{
  text-decoration: none;
  background-color: white;
  padding-left:4px;
  padding-right:4px;

    &.is-hidden{
      visibility: hidden;
    }
}


.instruc-wrapper{
  &.is-hidden{
    display: none;
  }

  p{
    margin:0;
    .map{
      background-color:white;
      padding:4px;
    }
  }

  hr{
    width: 50%;
  }
}

.tourstart-btn{
  background-color:white;
  padding:8px;
}

.ins-tech{
  color:$c-grey-darkest;
}
